body.carousel {
  background: #171719;
}

.swiper-container {
  position: relative;
}

.swiper-wrapper {
  display: flex;
  align-items: flex-start;
}

.swiper-slide img {
  width: 100%;
}

.button-next,
.button-prev {
  color: #cae3ae;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #cae3ae;
  font-family: "P22 Arts and Crafts";
  font-size: 7.2vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  position: absolute;
}

.button-prev,
.button-next {
  position: fixed;
  z-index: 10;
}

.button-prev {
  left: 15%;
  top: 45%;
}

.button-next {
  right: 6%;
  top: 45%;
}
