.projet h2 {
  right: 18px;
  top: 18px;
  text-align: right;
  font-size: 28px;
}

.projet p {
  left: 15px;
  bottom: 15px;
  font-size: 22px;
}

.projet h2,
.projet p {
  position: absolute;
  z-index: 2;
  color: #cae3ae;
  font-family: finlandica, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.projet {
  position: relative;
  z-index: 1;
}

.projet img {
  width: 100%;
}

// illustration projects

.illustration-section {
  width: 100%;
}
